{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/purchase.css' %}?v=1.3">
<link rel="stylesheet" href="{% static 'css/goods.css' %}?v=1.4">
{% endblock %}
{% block wave %}
<img src="{% static 'img/back.png' %}" id="backimg">
{% endblock %}
{% block content %}
<div class="col col-xl-2 col-lg-2 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>
<div class="col col-xl-8 col-lg-8">
	<div class="predefine1 stockdefine">
		<div class="head">
			<span class="head1">Purchase Order Detail</span>
			<span class="head2">View purchase order details</span>
		</div>
		<div class="prebody">
			{% if messages %}
				{% for message in messages %}
				<input type="hidden" class="msgon" value="{{message}}">
				{% endfor %}
			{% endif %}
			<div class="col col-xl-12 col-lg-12">
				<div class="partupper">
					{% if item.status == 'pending' %}
					<a href="/purchase-order-edit/{{item.id}}/"><button type="button" class="sup_edit" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="far fa-edit"></i></button></a>
					<button type="button" class="sup_delete" data="{{item.id}}" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></button>
					<form method="POST" action="/approve-purchase-order/" name="ApproveForm" id="ApproveForm">
						{% csrf_token %}
						<input type="hidden" name="pid" value="{{item.id}}">
						<div class="itemhide">
							
						</div>
						<button type="submit" class="sup_approve" id="appr" data-toggle="tooltip" data-placement="bottom" title="Approve"><i class="fas fa-clipboard-check"></i></button>
					</form>
					{% endif %}
					{% if item.status == 'cancelled' %}
					<span class="statuscheck cancelled"><i class="far fa-times-circle"></i> Cancelled</span>
					{% endif %}
					{% if item.status == 'approved' %}
					<span class="statuscheck approved">
						<i class="far fa-check-circle"></i> Approved <font style="color: #ddd; font-size: 40px; position: relative; top: 5px;">|</font> 
						<a href="/cancel-purchase-order/{{item.id}}/"><button type="button" class="sup_cancel" data="{{item.id}}" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="fas fa-ban"></i></button></a>
					</span>
					
					{% endif %}

					<form method="POST" action="/print-purchase-order/" target="_blank">
						{% csrf_token %}
						<input type="hidden" name="jid" value="{{item.id}}">
						<button type="submit" class="submit_btn print_btn">PRINT PDF</button>
					</form>
				</div>
			</div>
			<div class="col col-xl-6 col-lg-6 col-md-6">
				<div class="partcontent">
					<div class="fields">
						<span class="part_label">Entry Date</span>
						<span class="part_value">{{item.entry_date}}</span>
					</div>
					<div class="fields">
						<span class="part_label">Purchase Order Number</span>
						<span class="part_value">{{item.purchase_number}}</span>
					</div>
					<div class="fields">
						<span class="part_label">Narration</span>
						<span class="part_value">
							{% if item.narration %}
							{{item.narration|linebreaks}}
							{% else %}
							none
							{% endif %}
						</span>
					</div>
				</div>
			</div>
			<div class="col col-xl-6 col-lg-6 col-md-6">
				<div class="partcontent">
					<div class="fields">
						<span class="part_label">Issuing Site</span>
						<span class="part_value">{{item.issuing_site}}</span>
					</div>
					{% if item.po_vehi == 'yes' %}
					<div class="fields">
						<span class="part_label">Vehicle Type</span>
						<span class="part_value">{{item.vehicle_type}}</span>
					</div>
					<div class="fields">
						<span class="part_label">Vehicle Number</span>
						<span class="part_value">{{item.vehicle_number}} ({{item.number_type}})</span>
					</div>
					{% endif %}
					<div class="fields">
						<span class="part_label">Entry By</span>
						<span class="part_value">{{item.entry_by}}</span>
					</div>
				</div>
			</div>
			<div class="col col-xl-12 col-lg-12">
				<div class="partcontent table-responsive">
					<span class="appr_warn">Please select purchase location for items to approve this order!</span>
					<table class="table table-bordered table-hover" id="GoodDetailTable">
						<thead>
						  <tr>
						  	<th scope="col">Item</th>
							<th scope="col">UOM</th>
							<th scope="col">Quantity</th>
							<th scope="col">Description</th>
							<th scope="col">Purchase Location</th>
						  </tr>
						</thead>
						<tbody>
							{% for s in s_goods %}
							<tr>
								<td>{{s.item}}({{s.alias}})</td>
								<td>{{s.uom}}</td>
								<td>{{s.quantity}}</td>
								<td>{{s.description}}</td>
								<td>
									{% if item.status == 'pending' %}
									<input type="hidden" class="appr_count">
									<select class="form-control plocate" id="psel{{s.id}}" data="{{s.id}}">
										<option value="" selected disabled>Choose site</option>
										{% for s in site_dash %}
										<option value="{{s.name}}">{{s.name}}</option>
										{% endfor %}
									</select>
									{% else %}
									{{s.purchase_location}}
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col col-xl-1 col-lg-1 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>

<!-- po up deletion ------------------->

<div class="del_popupbanner">
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-6">

		<div class="predefine1" id="del_popup">
			Purchase Order will be deleted. Do you wish to continue?

			<form method="POST" action="/delete-purchase-order/">
				{% csrf_token %}
				<input type="hidden" name="sid" id="sid">
				<button type="submit" class="del_btn">Yes</button>
				<button type="button" class="del_btn" id="cancel_btn">No</button>
			</form>
		</div>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
</div>
<div class="cancel_popupbanner">
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-6">

		<div class="predefine1" id="can_popup">
			Purchase Order will be cancelled. Do you wish to continue?

			<form method="POST" action="/cancel-purchase-order/">
				{% csrf_token %}
				<input type="hidden" name="sid" id="csid">
				<button type="submit" class="del_btn">Yes</button>
				<button type="button" class="del_btn" id="cancelno_btn">No</button>
			</form>
		</div>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
</div>
<div class="appr_popupbanner">
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-6">

		<div class="predefine1" id="appr_popup">
			<i class="fas fa-times-circle"></i><br>
			Please select purchase location for all items to approve this order!
			<br>
			<button type="button" class="del_btn" id="appr_btn">OK</button>
		</div>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
</div>

{% endblock %}

{% block js %}
<script>
	$('.sup_delete').click(function(){
		$('.del_popupbanner').fadeIn();
		var idstr = $(this).attr("data");
		$('#sid').val(idstr);
		$('#del_popup').css({"transform": "scale(1)", "-webkit-transform": "scale(1)", "-moz-transform": "scale(1)"});
	});
	$('#cancel_btn').on('click', function(){
		$('#sid').val('');
		$('#del_popup').css({"transform": "scale(.1)", "-webkit-transform": "scale(.1)", "-moz-transform": "scale(.1)"});
		$('.del_popupbanner').fadeOut();
	});
// 	$('.sup_cancel').click(function(){
// 		$('.cancel_popupbanner').fadeIn();
// 		var idstr = $(this).attr("data");
// 		$('#csid').val(idstr);
// 		$('#can_popup').css({"transform": "scale(1)", "-webkit-transform": "scale(1)", "-moz-transform": "scale(1)"});
// 	});
	$('#cancelno_btn').on('click', function(){
		$('#csid').val('');
		$('#can_popup').css({"transform": "scale(.1)", "-webkit-transform": "scale(.1)", "-moz-transform": "scale(.1)"});
		$('.cancel_popupbanner').fadeOut();
	});

	$('.plocate').on('change', function(){
		var selid = $(this).attr("id");
		var idstr = $(this).attr("data");
		var val = $('#'+selid+' option:selected').val();
		if($('#plocate'+idstr).length > 0){
			$('#plocate'+idstr).val(val);
		}else{
			$(".itemhide").append('<input type="hidden" class="locate" name="plocate'+idstr+'" id="plocate'+idstr+'" value="'+val+'">');
		}
	});
	$('#ApproveForm').on('submit', function(){
		if($('.locate').length > 0){
			if($('.locate').length == $('.appr_count').length){
				document.ApproveForm.submit();
			}else{
				$('.appr_popupbanner').fadeIn();
				$('#appr_popup').css({"transform": "scale(1)", "-webkit-transform": "scale(1)", "-moz-transform": "scale(1)"});
			}
		}else{
			$('.appr_popupbanner').fadeIn();
			$('#appr_popup').css({"transform": "scale(1)", "-webkit-transform": "scale(1)", "-moz-transform": "scale(1)"});
		}
		event.preventDefault();
	});
	$('#appr_btn').on('click', function(){
		$('#appr_popup').css({"transform": "scale(.1)", "-webkit-transform": "scale(.1)", "-moz-transform": "scale(.1)"});
		$('.appr_popupbanner').fadeOut();
	});
	
	$(window).on('load', function(){
		if($('.msgon').length>0){
			var msg = $('.msgon').first().val();
			if(msg=='done'){
				$('.success_ban').show('slide', {direction: 'right'}, 500);
				setTimeout(function(){
					$('.success_ban').hide('slide', {direction: 'right'}, 500);
				}, 5000);
			}
			if(msg=='error'){
				$('.error_ban').show('slide', {direction: 'right'}, 500);
				setTimeout(function(){
					$('.error_ban').hide('slide', {direction: 'right'}, 500);
				}, 5000);
			}
		}
	});
</script>
{% endblock %}