{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stock_entry.css' %}?v=1.4">
{% endblock %}
{% block wave %}
<img src="{% static 'img/back.png' %}" id="backimg">
{% endblock %}
{% block content %}
<div class="col col-xl-1 col-lg-1 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>
<div class="col col-xl-10 col-lg-10">
	<div class="predefine1 stockdefine">
		<div class="head">
			<span class="head1">Stock Items</span>
			<span class="head2">View and Manage item's details</span>
		</div>
		<div class="prebody table-responsive">
			{% if messages %}
				{% for message in messages %}
				<input type="hidden" class="msgon" value="{{message}}">
				{% endfor %}
			{% endif %}
			{% if s_item %}
			{% for s in s_item %}
			<input type="hidden" id="name{{s.id}}" value="{{s.item}}">
			<input type="hidden" id="url{{s.id}}" value="{{s.url}}">
			<input type="hidden" id="ali{{s.id}}" value="{{s.alias}}">
			<input type="hidden" id="cat{{s.id}}" value="{{s.stock_category}}">
			<input type="hidden" id="subcat{{s.id}}" value="{{s.stock_subcategory}}">
			<input type="hidden" id="uom{{s.id}}" value="{{s.uom}}">
			<input type="hidden" id="type{{s.id}}" value="{{s.stock_type}}">
			{% endfor %}
			<div class="search_banner">
				<input type="hidden" id="scat" value="{{scat}}">
				<input type="hidden" id="sscat" value="{{sscat}}">
				<form method="POST" action="/search-stock-item/" id="StockSearch" name="StockSearch">
	        		{% csrf_token %}
		        	<div class="input-group">
		        		<select class="form-control inputs" name="searchcat" id="searchcategory">
							<option value="" disabled selected>Choose category</option>
							{% for c in stock_cat %}
							<option value="{{c.name}}">{{c.name}}</option>
							{% endfor %}
						</select>
						{% for ps, range in psupa %}
						<select class="form-control inputs subcatsearch" id="subcatsearch{{ps.0.cat_url}}">
							<option value="" disabled selected>Choose sub category</option>
							{% for p in ps %}
							<option value="{{p.name}}">{{p.name}}</option>
							{% endfor %}
						</select>
						{% endfor %}
						<input type="hidden" name="searchsubcat" id="subcsearch" value="{{sscat}}">
		        		<input type="text" name="search" class="form-control" id="ssearch" placeholder="Search name...">
		        		<div class="input-group-append">
		        			<button type="submit" class="btn btn-primary" id="find_btn"><i class="fas fa-search"></i></button>
		        		</div>
		        	</div>
	        	</form>
			</div>
			<table class="table table-bordered table-hover" id="StockTable">
				<thead>
				  <tr>
					<th scope="col">Name</th>
					<th scope="col">Alias</th>
					<th scope="col">Stock Category</th>
					<th scope="col">Stock Sub Category</th>
					<th scope="col">UOM</th>
					<th scope="col">Stock Type</th>
					<th scope="col">Action</th>
				  </tr>
				</thead>
				<tbody>
					{% for s in s_item %}
					<tr>
						<td>{{s.item}}</td>
						<td>{{s.alias}}</td>
						<td>{{s.stock_category}}</td>
						<td>{{s.stock_subcategory}}</td>
						<td>{{s.uom}}</td>
						<td>{{s.stock_type}}</td>
						<td>
							<button type="button" class="sup_edit" data="{{s.id}}"><i class="far fa-edit"></i></button>
							<button type="button" class="sup_delete" data="{{s.id}}"><i class="far fa-trash-alt"></i></button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<span class="no_content">
				No items found
			</span>
			{% endif %}
		</div>
	</div>
</div>
<div class="col col-xl-1 col-lg-1 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>

<!-- pop up for edition ------>

<div class="edit_popupbanner">
	<div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
	<div class="col col-xl-6 col-lg-6 col-md-10">
		<div class="predefine1" id="edit_popup">
			<div class="edithead">
				Edit Item <i class="fa fa-times" id="close_edit"></i>
			</div>
			<div class="prebody editbody" id="formbody">
				<form method="POST" action="/update-stock-item/" id="StockEditForm" autocomplete="off" name="StockEditForm">
					{% csrf_token %}
					<input type="hidden" id="suid" name="suid">
					<input type="hidden" id="dname" name="dname">
					<input type="hidden" id="dalias" name="dalias">
					<input type="hidden" id="duom" name="duom">
					<div class="col col-xl-6 col-lg-6">
						<div class="fields">
							<label class="label"><span>Item Name<font style="color: red;">*</font></span></label>
							<input type="text" class="form-control inputs" name="name" id="name">
							<input type="hidden" name="url" id="url">
						</div>
					</div>
					<div class="col col-xl-6 col-lg-6">
						<div class="fields">
							<label class="label"><span>Alias</span></label>
							<input type="text" class="form-control inputs" name="alias" id="alias">
						</div>
					</div>
					<div class="col col-xl-6 col-lg-6">
						<div class="fields">
							<label class="label"><span>Stock Category<font style="color: red;">*</font></span></label>
							<select class="form-control inputs" name="category" id="category">
								<option value="" disabled selected>Choose category</option>
								{% for c in stock_cat %}
								<option value="{{c.name}}">{{c.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col col-xl-6 col-lg-6">
						{% for ps, range in psupa %}
						<div class="fields subcatshow" id="subcatshow{{ps.0.cat_url}}">
							<label class="label"><span>Stock Sub Category<font style="color: red;">*</font></span></label>
							<select class="form-control inputs subcategory" id="subcategory{{ps.0.cat_url}}">
								<option value="" disabled selected>Choose category</option>
								{% for c in ps %}
								<option value="{{c.name}}">{{c.name}}</option>
								{% endfor %}
							</select>
						</div>
						{% endfor %}
						<input type="hidden" name="subcategory" id="subcatval">
					</div>
					<div class="col col-xl-6 col-lg-6">
						<div class="fields">
							<label class="label"><span>UOM<font style="color: red;">*</font></span></label>
							<select class="form-control inputs" name="uom" id="uom">
								<option value="" disabled selected>Choose UOM</option>
								{% for c in uom_dash %}
								<option value="{{c.uom}}">{{c.uom}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col col-xl-6 col-lg-6">
						<div class="fields">
							<label class="label"><span>Stock Type<font style="color: red;">*</font></span></label>
							<select class="form-control inputs" name="type" id="type">
								<option value="" disabled selected>Choose type</option>
								<option value="inventory">inventory</option>
								<option value="non inventory">non inventory</option>
							</select>
						</div>
					</div>
					<div class="col col-xl-12 col-lg-12">
						<div class="fields">
							<button type="submit" class="submit_btn">SAVE</button><i class="fa fa-spinner fa-spin mx-2 spinner" id="spinner1"></i>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
</div>

<!-- po up deletion ------------------->

<div class="del_popupbanner">
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-6">

		<div class="predefine1" id="del_popup">
			Item will be deleted. Do you wish to continue?

			<form method="POST" action="/delete-stock-item/">
				{% csrf_token %}
				<input type="hidden" name="sid" id="sid">
				<button type="submit" class="del_btn">Yes</button>
				<button type="button" class="del_btn" id="cancel_btn">No</button>
			</form>
		</div>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/stock_item.js' %}?v=1.5"></script>
{% endblock %}