{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/purchase.css' %}?v=1.4">
<link rel="stylesheet" href="{% static 'css/goods.css' %}?v=1.4">
{% endblock %}
{% block wave %}
<img src="{% static 'img/back.png' %}" id="backimg">
{% endblock %}
{% block content %}
<div class="col col-xl-2 col-lg-2 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>
<div class="col col-xl-8 col-lg-8">
	<div class="predefine1 stockdefine">
		<div class="head">
			<span class="head1">GRN Entry for Internal Transfer Detail</span>
			<span class="head2">View good's details</span>
		</div>
		<div class="prebody">
			{% if messages %}
				{% for message in messages %}
				<input type="hidden" class="msgon" value="{{message}}">
				{% endfor %}
			{% endif %}
			<div class="col col-xl-12 col-lg-12">
				<div class="partupper">
					{% if item.invoice_status == 'no' and item.damage == 'no' %}
					<a href="/transfer-edit-goods/{{item.id}}/"><button type="button" class="sup_edit" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="far fa-edit"></i></button></a>
					<button type="button" class="sup_delete" data="{{item.id}}" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></button>
					{% endif %}

					<form method="POST" action="/transfer-print-goods/" target="_blank">
						{% csrf_token %}
						<input type="hidden" name="jid" value="{{item.id}}">
						<button type="submit" class="submit_btn print_btn">PRINT PDF</button>
					</form>
				</div>
			</div>
			<div class="col col-xl-6 col-lg-6 col-md-6">
				<div class="partcontent">
					<div class="fields">
						<span class="part_label">Entry Date</span>
						<span class="part_value">{{item.entry_date}}</span>
					</div>
					<div class="fields">
						<span class="part_label">Transfer GRN Number</span>
						<span class="part_value">{{item.grn_number}}</span>
					</div>
					<div class="fields">
						<span class="part_label">Narration</span>
						<span class="part_value">
							{% if item.narration %}
							{{item.narration|linebreaks}}
							{% else %}
							none
							{% endif %}
						</span>
					</div>
				</div>
			</div>
			<div class="col col-xl-6 col-lg-6 col-md-6">
				<div class="partcontent">
					<!-- <div class="fields">
						<span class="part_label">Vehicle Number</span>
						<span class="part_value">
							{% if item.vehicle_number %}
							{{item.vehicle_number}}
							{% else %}
							none
							{% endif %}
						</span>
					</div> -->
					<div class="fields">
						<span class="part_label">entry_by</span>
						<span class="part_value">{{item.entry_by}}</span>
					</div>
					<div class="fields">
						<span class="part_label">Site</span>
						<span class="part_value">{{item.user_site}}</span>
					</div>
				</div>
			</div>
			<div class="col col-xl-12 col-lg-12">
				<div class="partcontent table-responsive">
					<table class="table table-bordered table-hover" id="GoodDetailTable">
						<thead>
						  <tr>
						  	<th scope="col">Internal Transfer Number</th>
						  	<th scope="col">Item</th>
							<th scope="col">UOM</th>
							<th scope="col">Quantity</th>
							<th scope="col">Damage</th>
						  </tr>
						</thead>
						<tbody>
							{% for s in s_goods %}
							<tr>
								<td>{{s.pvn}}</td>
								<td>{{s.item}}({{s.alias}})</td>
								<td>{{s.uom}}</td>
								<td>{{s.quantity}}</td>
								<td>{{s.damage_qty}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col col-xl-1 col-lg-1 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>

<!-- po up deletion ------------------->

<div class="del_popupbanner">
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-6">

		<div class="predefine1" id="del_popup">
			GRN will be deleted. Do you wish to continue?

			<form method="POST" action="/transfer-delete-goods/">
				{% csrf_token %}
				<input type="hidden" name="sid" id="sid">
				<button type="submit" class="del_btn">Yes</button>
				<button type="button" class="del_btn" id="cancel_btn">No</button>
			</form>
		</div>
	</div>
	<div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
</div>

{% endblock %}

{% block js %}
<script>
	$('.sup_delete').click(function(){
		$('.del_popupbanner').fadeIn();
		var idstr = $(this).attr("data");
		$('#sid').val(idstr);
		$('#del_popup').css({"transform": "scale(1)", "-webkit-transform": "scale(1)", "-moz-transform": "scale(1)"});
	});
	$('#cancel_btn').on('click', function(){
		$('#sid').val('');
		$('#del_popup').css({"transform": "scale(.1)", "-webkit-transform": "scale(.1)", "-moz-transform": "scale(.1)"});
		$('.del_popupbanner').fadeOut();
	});
</script>
{% endblock %}