.fields{
  float:left;
  width:100%;
  height: auto;
  margin-bottom: 20px;
}

.label {
  line-height:0.1;
}
.label span {
  display: inline-block;
  position: relative;
  left:20px;
  color:#484f52;
  font-size:15px;
  padding:0px;
}
.label span:before{
    content: "";
  position: absolute;
  height: 10px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-top-left-radius:5px;
  top: 4px;
  left:-25px;
  width: 18px;
}
/*.label span:after{
    content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #aaa;
  top: 4px;
  width: 60px;
}*/
.label span:before {
  right: 100%;
  margin-right: 15px;
}
/*.label span:after {
  left: 100%;
  margin-left: 15px;
}*/

.submit_btn{
  height: 40px;
  width: auto;
  float:left;
  border: none;
  background: #1f7ba3;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  transition: all .3s ease;
  border-radius: 5px;
  padding-left:30px;
  padding-right: 30px;
}
.submit_btn:hover{
  background: #07597d;
}

.errorcolor{
  border: 1.1px solid red !important;
}

.goods{
  float:left;
  width:100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}
.maintainhead{
  float:left;
  width:100%;
  font-size: 15px;
  color:rgba(0,0,0,.8);
  padding: 10px 0px;
}
#ItemTable,
#MaintainanceTable{
  font-size: 14px;
  color: rgba(0,0,0,.8);
}
.mainbtn{
  float:right;
  height: 35px;
  width: auto;
  border: 1px solid #008ECC;
  background: none;
  color: #008ECC;
  font-size: 13px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.addgrn{
  height: 30px;
  width: auto;
  border: 1px solid #008ECC;
  background: none;
  color: #008ECC;
  font-size: 13px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  margin-top: 5px;
}
.addgrn:focus{
  background: none !important;
}
#additembtn,
#additemeditbtn{
  float:left;
  height: 35px;
  width: 120px;
  border: none;
  background: #008ECC;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
}
#additem:focus{
  background:none !important;
}
.boldrow td{
  font-weight: bold;
  color: #505152 !important;
}
.boldrow td .input-group{
  width: 200px;
  float:right;
  height: 35px !important;
}
.boldrow td .input-group input{
  height: 35px !important;
}
.boldrow td .input-group .input-group-text{
  font-size: 14px !important;
}
.tfoot{
  display: none;
}
.ltd{
  text-align: right;
}

.edit_popupbanner{
  position: fixed;
  top: 0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: 9;
  background: rgba(0,0,0,.1);
  overflow-y: scroll;
  display: none;
}
#edit_popup{
  margin-top: 110px;
  margin-bottom: 50px;
  box-shadow: none !important;
  padding: 0px;
  -webkit-transform: scale(.1);
  -moz-transform: scale(.1);
  transform: scale(.1);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.edit_popupbanner1{
  position: fixed;
  top: 0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: 9;
  background: rgba(0,0,0,.1);
  overflow-y: scroll;
  display: none;
}
#edit_popup1{
  margin-top: 110px;
  margin-bottom: 50px;
  box-shadow: none !important;
  padding: 0px;
  -webkit-transform: scale(.1);
  -moz-transform: scale(.1);
  transform: scale(.1);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.editbody{
  padding: 20px 20px 50px 20px;
}
.edithead{
  float:left;
  width:100%;
  height: auto;
  padding: 10px 20px;
  color: #fff;
  background: #1f7ba3;
}
.edithead i{
  float:right;
  font-size: 20px;
  cursor: pointer;
}

.edititem,
.delitem{
  float:left;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  background: none;
  border:none;
}
.delitem i{
  color: #fa4670;
}
.edititem i{
  color: #008ECC;
}

#grn{
  width:auto;
}
.already_error{
  float:left;
  width:100%;
  font-size: 13px;
  color: red;
  padding: 5px 0px;
  display: none;
}
.grncol{
  float:left;
  width:100%;
  height: auto;
}
.coldiv{
  float:left;
  width:auto;
  height: auto;
  padding: 5px;
}
.coldes{
  width:auto;
  float:left;
  height: 35px;
  font-size: 14px;
  color: #fff;
  background: #008ECC;
  line-height: 35px;
  padding: 0px 5px;
}
.colbtn{
  height: 35px;
  width:auto;
  float: left;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  background: #008ECC;
  border:none;
}
#dis1{
  width:100px !important;
  margin-right: 10px;
}
.loading{
  width:100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  display: none;
}
.loadcontent{
  width: 150px;
  display: block;
  margin: 0px auto;
  background: #60c720;
  color: #fff;
  font-size: 14px;
}

/*-------display---------*/

.sup_edit,.sup_delete{
  border:none;
  background:none;
  float:left;
  cursor: pointer;
  margin-right: 8px;
  font-size: 18px;
}
.sup_edit:focus,
.sup_delete:focus{
  background: none !important;
}

.sup_delete i{
  color: #fa4670;
}
.sup_edit i{
  color: #913cfa;
}
#InvoiceTable thead{
  background: #1f7ba3;
  color: #fff;
}
#InvoiceTable thead th{
  font-weight: normal;
}

.eye i{
  font-size: 20px;
}

.partcontent{
  float:left;
  width:100%;
  height: auto;
  margin-bottom: 10px;
}
.part_label{
  float:left;
  width:100%;
  font-size: 15px;
  color: rgba(0,0,0,.8);
  font-weight: bold;
}
.part_value{
  float:left;
  width:100%;
  font-size: 14px;
  color: rgba(0,0,0,.9);
}
#InvoiceDetailTable thead{
  background: #ddd;
  color: rgba(0,0,0,.8);
}
.print_btn{
  float:right;
}
.partupper{
  float:left;
  width:100%;
  height: auto;
}

.vehicles{
  display: none;
}
.fcheck{
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: -20px;
}
#ch_check,
#en_check{
  float:left;
  font-size: 14px;
  color: rgba(0,0,0,.9);
  margin-right: 10px;
}
#chasis_check,
#engine_check{
  height: 18px;
  width:18px;
  position: relative;
  top: 3px;
  margin-right: 5px;
  cursor: pointer;
}
.jobnoentry{
  margin-top: -20px;
  display:none;
}
#yjobcheck,
#njobcheck,
#crcheck,
#cacheck{
  float:left;
  font-size: 14px;
  color: rgba(0,0,0,.8);
  margin-right: 15px;
  cursor: pointer;
}
#yesjob,
#nojob,
#crejob,
#cajob{
  height: 18px;
  width: 18px;
  position: relative;
  top: 3px;
  cursor: pointer;
}
.psubcat{
  display:none;
}

.suptabs{
  display:none;
}
.pvnselban{
  display:none;
}
.vehidet{
  display: none;
}
.pvnshowtable{
  width: 100%;
  float: left;
  height: auto;
  display: none;
}
.pvndet{
  display: none;
}
/*===================*/