{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/purchase.css' %}?v=1.3">
<link rel="stylesheet" href="{% static 'css/goods.css' %}?v=1.3">
{% endblock %}
{% block wave %}
<img src="{% static 'img/back.png' %}" id="backimg">
{% endblock %}
{% block content %}
<div class="col col-xl-2 col-lg-2 d-md-1 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>
<div class="col col-xl-8 col-lg-8 col-md-10">
	<div class="predefine1">
		<div class="head">
			<span class="head1">Goods Receive Note Entry</span>
			<span class="head2">Enter new goods receive entry details</span>
		</div>
		<div class="prebody" id="formbody">
			<form method="POST" action="/ashish-add-goods/" id="GoodsForm" autocomplete="off" name="GoodsForm">
				{% csrf_token %}
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Date<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="date" id="date">
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>GRN Number<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="grn" id="grn" value="GRN{{grn}}" readonly>
						<input type="hidden" name="grn_count" id="grn_count" value="{{grn}}">
					</div>
				</div>
				{% for c in gchallan %}
				<input type="hidden" class="gchallan" value="{{c}}">
				{% endfor %}
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Challan Number<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="challan" id="challan">
						<span class="already_error challan_e">Entry with this challan number already exists!</span>
					</div>
				</div>
				{% for c in gbill %}
				<input type="hidden" class="gbill" value="{{c}}">
				{% endfor %}
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Bill Number<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="bill" id="bill">
						<span class="already_error bill_e">Entry with this bill number already exists!</span>
					</div>
				</div>
				<!-- <div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Supplier<font style="color: red;">*</font></span></label>
						<select class="form-control inputs" name="supplier" id="supplier">
							<option value="" disabled selected>Choose supplier</option>
							{% for c in supplier_dash %}
							<option value="{{c.id}}">{{c.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div> -->
				<!-- <div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Vehicle Number</span></label>
						<input type="text" class="form-control inputs" name="vehicle" id="vehicle">
					</div>
				</div> -->
				{% for p in porder %}
				<input type="hidden" id="po{{p.purchase_number}}" value="{{p.purchase_number}}">
				{% endfor %}
				{% for pur, range in purinvoice %}
				<input type="hidden" id="pinv{{pur.0.purchase_order_number}}" value="{{pur.0.purchase_order_number}}">
				{% for p in pur %}
				<input type="hidden" id="pinv{{pur.0.purchase_order_number}}pvn{{p.voucher_number}}" value="{{p.voucher_number}}">
				{% endfor %}
				{% endfor %}
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Purchase Order Number<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="porder" id="porder">
						<span class="already_error porder_e">This order number is not applicable for entry!</span>
					</div>
					<div class="fields pvntabshow">
						{% for pur, range in purinvoice %}
						<table class="table table-bordered table-hover pinvrec" id="pinvrec{{pur.0.purchase_order_number}}">
							<thead>
								<tr>
									<th scope="col">Voucher Number</th>
									<th scope="col">Associate Supplier</th>
								</tr>
							</thead>
							<tbody>
								{% for p in pur %}
								<tr>
									<td>{{p.voucher_number}}</td>
									<td>{{p.supplier_name}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% endfor %}
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Narration</span></label>
						<textarea class="form-control" name="narrat" id="narrat" rows="6"></textarea>
					</div>
				</div>
				{% for igood, range in igoods %}
				{% for i in igood %}
				<input type="hidden" class="gooid{{igood.0.pvn}}" value="{{igood.0.pvn}}{{i.id}}" data="{{igood.0.pvn}}">
				<input type="hidden" id="item{{igood.0.pvn}}{{i.id}}" value="{{i.item}}">
				<input type="hidden" id="alias{{igood.0.pvn}}{{i.id}}" value="{{i.alias}}">
				<input type="hidden" id="itemid{{igood.0.pvn}}{{i.id}}" value="{{i.item_id}}">
				<input type="hidden" id="uom{{igood.0.pvn}}{{i.id}}" value="{{i.uom}}">
				<input type="hidden" id="qty{{igood.0.pvn}}{{i.id}}" value="{{i.quantity}}">
				{% endfor %}
				{% endfor %}
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Purchase Voucher Number</span></label>
						<input type="text" class="form-control inputs" name="pvn" id="pvn">
						<span class="help_text">Enter Voucher number and press enter</span>
						<!-- <button type="button" class="addgrn" id="addgrn">ADD</button>  -->
					</div>
				</div>
				<div class="col col-xl-12">
					<div class="grncol">
						
					</div>
				</div>

				<div class="hidden_inputs"></div>

				<div class="col col-12">
					<div class="goods">
						<div class="loading">
							<div class="loadcontent">
								Loading....
							</div>
						</div>
		              <span class="maintainhead">
		                Goods Received:
		                <!-- <button type="button" id="additem" class="mainbtn">+ ADD ITEMS</button> -->
		              </span>
		              <table class="table table-bordered table-hover" id="ItemTable">
		                <thead>
		                  <tr>
		                    <th scope="col">Items</th>
		                    <th scope="col">UOM</th>
		                    <th scope="col">Quantity</th>
		                  </tr>
		                </thead>
		                <tbody>
		                  
		                </tbody>
		                <tfoot class="tfoot2">
		                  <tr class="boldrow">
		                    <td colspan="5" style="text-align: center;">No items</td>
		                    
		                  </tr>
		                </tfoot>
		                <!-- tfoot class="tfoot">
		                  <tr>
		                    <td colspan="5" style="border:none;"></td>
		                  </tr>
		                  <tr>
		                    <td colspan="5" style="border:none;"></td>
		                  </tr>
		                  <tr class="boldrow table-sm">
		                    <td colspan="4">Sub Total</td>
		                    <td>
		                      <div class="input-group">
		                        <div class="input-group-append">
		                          <div class="input-group-text">NPR</div>
		                        </div>
		                        <input type="number" name="subtotal" id="subtotal" class="form-control" step='.01' value="0" readonly>
		                      </div>
		                    </td>
		                  </tr>
		                  <tr class="boldrow table-sm">
		                    <td colspan="4">Labour Charge</td>
		                    <td>
		                      <div class="input-group">
		                        <div class="input-group-append">
		                          <div class="input-group-text">NPR</div>
		                        </div>
		                        <input type="number" name="labour" id="labour" class="form-control" step='.01' value="0">
		                      </div>
		                    </td>
		                  </tr>
		                  <tr class="boldrow table-sm">
		                    <td colspan="4">Vat</td>
		                    <td>
		                      <div class="input-group">
		                        <div class="input-group-append">
		                          <div class="input-group-text">NPR</div>
		                        </div>
		                        <input type="number" name="vat" id="vat" class="form-control" step='.01' value="0" readonly>
		                      </div>
		                    </td>
		                  </tr>
		                  <tr class="boldrow table-sm">
		                    <td colspan="4">Total Amount</td>
		                    <td>
		                      <div class="input-group">
		                        <div class="input-group-append">
		                          <div class="input-group-text">NPR</div>
		                        </div>
		                        <input type="number" name="total" id="total" class="form-control" step='.01' value="0" readonly>
		                      </div>
		                    </td>
		                  </tr>
		                </tfoot> -->
		              </table>
		            </div>
				</div>

				<div class="col col-xl-12 col-lg-12">
					{% if messages %}
						{% for message in messages %}
						<input type="hidden" class="msgon" value="{{message}}">
						{% endfor %}
					{% endif %}
					<div class="fields">
						<button type="submit" class="submit_btn">SUBMIT</button><i class="fa fa-spinner fa-spin mx-2 spinner" id="spinner1"></i>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col col-xl-2 col-lg-2 d-md-1 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>

<!---item pop over-------------------->


{% endblock %}

{% block js %}
<script src="{% static 'js/ashish_goods.js' %}?v=1.7"></script>
{% endblock %}