{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/purchase.css' %}?v=1.3">
<link rel="stylesheet" href="{% static 'css/invoice.css' %}?v=1.4">
{% endblock %}
{% block wave %}
<img src="{% static 'img/back.png' %}" id="backimg">
{% endblock %}
{% block content %}
<div class="col col-xl-2 col-lg-2 d-md-1 d-none d-lg-inline">
  <span style="opacity: 0;">.</span>
</div>
<div class="col col-xl-8 col-lg-8 col-md-10">
  <div class="predefine1">
    <div class="head">
      <span class="head1">Damage Stocks</span>
      <span class="head2">Enter details of damage stocks</span>
    </div>
    <div class="prebody" id="formbody">
      <form method="POST" action="/add-damage/" id="DamageForm" autocomplete="off" name="DamageForm">
        {% csrf_token %}
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>Entry Date<font style="color: red;">*</font></span></label>
            <input type="text" class="form-control inputs" name="date" id="date">
          </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>Damage Number<font style="color: red;">*</font></span></label>
            <input type="text" class="form-control inputs" name="damage_number" id="damage_number" value="DN{{pvn}}" readonly>
            <input type="hidden" name="pvn_count" id="pvn_count" value="{{pvn}}" readonly>
          </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>Narration</span></label>
            <textarea class="form-control" name="narrat" id="narrat" rows="6"></textarea>
          </div>
        </div>

        {% for igood, range in igoods %}
        {% for i in igood %}
        <input type="hidden" class="gooid{{igood.0.pvn}}" value="{{igood.0.pvn}}{{i.id}}" data="{{igood.0.pvn}}">
        <input type="hidden" id="item{{igood.0.pvn}}{{i.id}}" value="{{i.item}}">
        <input type="hidden" id="alias{{igood.0.pvn}}{{i.id}}" value="{{i.alias}}">
        <input type="hidden" id="itemid{{igood.0.pvn}}{{i.id}}" value="{{i.item_id}}">
        <input type="hidden" id="uom{{igood.0.pvn}}{{i.id}}" value="{{i.uom}}">
        <input type="hidden" id="qty{{igood.0.pvn}}{{i.id}}" value="{{i.quantity}}">
        <input type="hidden" id="rate{{igood.0.pvn}}{{i.id}}" value="{{i.rate}}">
        <input type="hidden" id="disamt{{igood.0.pvn}}{{i.id}}" value="{{i.discount_amt}}">
        <input type="hidden" id="disper{{igood.0.pvn}}{{i.id}}" value="{{i.discount_per}}">
        <input type="hidden" id="amt{{igood.0.pvn}}{{i.id}}" value="{{i.amount}}">
        {% endfor %}
        {% endfor %}

        {% for p in purinvoice %}
        <input type="hidden" id="puriamt{{p.voucher_number}}" value="{{p.total}}">
        <input type="hidden" id="puridamt{{p.voucher_number}}" value="{{p.discount_amt}}">
        <input type="hidden" id="puridper{{p.voucher_number}}" value="{{p.discount_per}}">
        <input type="hidden" id="purivat{{p.voucher_number}}" value="{{p.vat}}">
        {% endfor %}

        {% for i in pitem %}
	      <input type="hidden" class="pvnon{{i.pvn}}" value="{{i.pvn}}">
	    {% endfor %}

        {% for p in porder %}
        <input type="hidden" id="po{{p.purchase_number}}" value="{{p.purchase_number}}">
        {% endfor %}
        {% for p in porder %}
        <input type="hidden" id="povehi{{p.purchase_number}}" value="{{p.vehicle_number}}" data="{{p.vehicle_type}}" name="{{p.number_type}}" data-ab="{{p.vehicle_type_id}}">
        {% endfor %}
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>Purchase Order Number<font style="color: red;">*</font></span></label>
            <div class="fields" style="border: 1px solid #ddd; padding: 10px 20px;" id="checkblock">
              <span id="yjobcheck"><input type="checkbox" id="yesjob" checked> Yes</span>
              <!-- <span id="njobcheck"><input type="checkbox" id="nojob" > No</span> -->
              <input type="hidden" name="jorder" id="jorder" value="yes">
            </div>
            <div class="fields">
              <input type="text" name="jobnumber" id="jobnumber" class="form-control inputs" placeholder="Enter PO number">
              <!-- <span class="help_text">Enter PO number and press enter</span> -->
              <span class="already_error porder_e">Please provide valid/approved PO number</span>
            </div>
          </div>
        </div>

        <div class="col col-xl-6 col-lg-6">
          {% for ps, range in psupa %}
          <div class="fields pvnselban" id="pvnselban{{ps.0.purchase_order_number}}">
            <label class="label"><span>Purchase Voucher Number</span></label>
            <select class="form-control inputs pvnsel" id="pvnsel{{ps.0.purchase_order_number}}">
              <option value="" disabled selected>Choose voucher number</option>
              {% for c in ps %}
              <option value="{{c.voucher_number}}">{{c.voucher_number}}</option>
              {% endfor %}
            </select>
          </div>
          {% endfor %}
        </div>
        <div class="col col-xl-12">
          <div class="grncol">
            
          </div>
        </div>

        <div class="col col-xl-12">
          <div class="pvnshowtable table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">Voucher Number</th>
                  <th scope="col">Invoice Number</th>
                  <th scope="col">Invoice Type</th>
                  <th scope="col">Supplier</th>
                  <th scope="col">Sub Total</th>
                  <th scope="col">Discount</th>
                  <th scope="col">VAT</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for p in purinvoice %}
                <tr class="pvndet" id="pvndet{{p.voucher_number}}">
                  <td>{{p.voucher_number}}</td>
                  <td>{{p.invoice_number}}</td>
                  <td>{{p.invoice_type}}</td>
                  <td>{{p.supplier_name}}</td>
                  <td>Rs {{p.sub_total}}</td>
                  <td>Rs {{p.discount_amt}}({{p.discount_per}}%)</td>
                  <td>{{p.vat}}</td>
                  <td>{{p.total}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="hidden_inputs"></div>

        <div class="col col-12">
          <div class="goods table-responsive">
            <div class="loading">
              <div class="loadcontent">
                Loading....
              </div>
            </div>
                  <span class="maintainhead">
                    Damage Items:
                    <button type="button" id="additem" class="mainbtn">+ ADD ITEMS</button>
                  </span>
                  <table class="table table-bordered table-hover" id="MaintainanceTable">
                    <thead>
                      <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Items</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                    <tfoot class="tfoot2">
                      <tr class="boldrow">
                        <td colspan="7" style="text-align: center;">No items</td>
                        
                      </tr>
                    </tfoot>
                  </table>
                </div>
        </div>

        <div class="col col-xl-12 col-lg-12">
          {% if messages %}
            {% for message in messages %}
            <input type="hidden" class="msgon" value="{{message}}">
            {% endfor %}
          {% endif %}
          <div class="fields">
            <button type="submit" class="submit_btn">SUBMIT</button><i class="fa fa-spinner fa-spin mx-2 spinner" id="spinner1"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col col-xl-2 col-lg-2 d-md-1 d-none d-lg-inline">
  <span style="opacity: 0;">.</span>
</div>

<!---item pop over-------------------->

<div class="edit_popupbanner">
  <div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
    <span style="opacity: 0;">.</span>
  </div>
  <div class="col col-xl-6 col-lg-6 col-md-10">
    <div class="predefine1" id="edit_popup">
      <div class="edithead">
        Add Item <i class="fa fa-times" id="close_edit"></i>
      </div>
      <div class="prebody editbody">
        <div class="col col-xl-6 col-lg-6">
          {% for i in item_real %}
          <input type="hidden" id="ini{{i.id}}" data="{{i.uom}}" value="{{i.item}}" name="{{i.alias}}">
          {% endfor %}
          {% for i in item_real %}
          <input type="hidden" class="itemclass" data="{{i.item}}" value="{{i.id}}">
          {% endfor %}
          {% for i in pitem %}
          <input type="hidden" class="pitm{{i.pvn}}" data="{{i.item}}" value="{{i.item_id}}" name="{{i.alias}}">
          {% endfor %}
          <div class="fields">
            <label class="label"><span>Item<font style="color: red;">*</font></span></label>
            <select class="form-control inputs" name="item" id="item">
              <option value="" disabled selected>Choose item</option>
              
            </select>
            <input type="hidden" name="itemname" id="itemname">
            <input type="hidden" name="itemalias" id="itemalias" readonly>
          </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>UOM<font style="color: red;">*</font></span></label>
            <input type="text" class="form-control inputs" name="uom" id="uom" readonly>
            <!-- <select class="form-control inputs" name="uom" id="uom">
              <option value="" disabled selected>Choose UOM</option>
              {% for c in uom_dash %}
              <option value="{{c.uom}}">{{c.uom}}</option>
              {% endfor %}
            </select> -->
          </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>Quantity<font style="color: red;">*</font></span></label>
            <input type="number" class="form-control inputs" name="qty" id="qty" step=".01">
          </div>
        </div>
        <div class="col col-xl-12 col-lg-12">
          <div class="fields">
            <button type="submit" class="submit_btn" id="additembtn">ADD</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
    <span style="opacity: 0;">.</span>
  </div>
</div>

<div class="edit_popupbanner1">
  <div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
    <span style="opacity: 0;">.</span>
  </div>
  <div class="col col-xl-6 col-lg-6 col-md-10">
    <div class="predefine1" id="edit_popup1">
      <div class="edithead">
        Edit Item <i class="fa fa-times" id="close_edit1"></i>
      </div>
      <div class="prebody editbody">
        <div class="col col-xl-6 col-lg-6">
          {% for i in item_real %}
          <input type="hidden" id="eini{{i.id}}" data="{{i.uom}}" value="{{i.item}}" name="{{i.alias}}">
          {% endfor %}
          {% for i in item_real %}
          <input type="hidden" class="eitemclass" data="{{i.item}}" value="{{i.id}}">
          {% endfor %}
          {% for i in pitem %}
          <input type="hidden" class="epitm{{i.pvn}}" data="{{i.item}}" value="{{i.item_id}}" name="{{i.alias}}">
          {% endfor %}
          <input type="hidden" id="dfaultid">
          <div class="fields">
            <label class="label"><span>Item<font style="color: red;">*</font></span></label>
            <select class="form-control inputs" name="edititem" id="edititem" disabled>
              <option value="" disabled selected>Choose item</option>
              
            </select>
            <input type="hidden" name="edititemname" id="edititemname">
            <input type="hidden" name="edititemalias" id="edititemalias" readonly>
          </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>UOM<font style="color: red;">*</font></span></label>
            <input type="text" class="form-control inputs" name="edituom" id="edituom" readonly>
            <!-- <select class="form-control inputs" name="uom" id="uom">
              <option value="" disabled selected>Choose UOM</option>
              {% for c in uom_dash %}
              <option value="{{c.uom}}">{{c.uom}}</option>
              {% endfor %}
            </select> -->
          </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>Quantity<font style="color: red;">*</font></span></label>
            <input type="number" class="form-control inputs" name="editqty" id="editqty" step=".01">
          </div>
        </div>
        <div class="col col-xl-12 col-lg-12">
          <div class="fields">
            <button type="submit" class="submit_btn" id="additemeditbtn">UPDATE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
    <span style="opacity: 0;">.</span>
  </div>
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/damage.js' %}?v=1.2"></script>
{% endblock %}