{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/purchase.css' %}?v=1.4">
<link rel="stylesheet" href="{% static 'css/goods.css' %}?v=1.4">
{% endblock %}
{% block wave %}
<img src="{% static 'img/back.png' %}" id="backimg">
{% endblock %}
{% block content %}
<div class="col col-xl-2 col-lg-2 d-md-1 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>
<div class="col col-xl-8 col-lg-8 col-md-10">
	<div class="predefine1">
		<div class="head">
			<span class="head1">Purchase Order Entry</span>
			<span class="head2">Issue new purchase order details</span>
		</div>
		<div class="prebody" id="formbody">
			<form method="POST" action="/add-purchase-order/" id="GoodsForm" autocomplete="off" name="GoodsForm">
				{% csrf_token %}
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Date<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="date" id="date">
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Purchase Order Number<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="pon" id="pon" value="PON{{pon}}" readonly>
						<input type="hidden" name="pon_count" id="pon_count" value="{{pon}}">
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Issuing Site<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="issue_site" id="issue_site" value="{{u_site}}" readonly>
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
		          <div class="fields">
		            <label class="label"><span>PO for vehicle<font style="color: red;">*</font></span></label>
		            <div class="fields vehich" style="border: 1px solid #ddd; padding: 10px 20px;" id="checkblock">
		              <span id="yjobcheck"><input type="checkbox" id="yesjob" > Yes</span>
		              <span id="njobcheck"><input type="checkbox" id="nojob" c> No</span>
		              <input type="hidden" name="po" id="po">
		            </div>
		          </div>
		        </div>

		        {% for vehi, range in vehis %}
		        {% for v in vehi %}
		        <input type="hidden" id="vh{{v.url}}" name="{{v.chasis_number}}" data="{{v.engine_number}}" value="{{v.vehicle_number}}">
		        <input type="hidden" id="vhc{{v.chasis_url}}" name="{{v.vehicle_number}}" data="{{v.engine_number}}" value="{{v.chasis_number}}">
		        <input type="hidden" id="vhe{{v.engine_url}}" name="{{v.chasis_number}}" data="{{v.vehicle_number}}" value="{{v.engine_number}}">
		        {% endfor %}
		        {% endfor %}

		        <div class="col col-12">
		        	<div class="vehirequire">
		        		<div class="col col-xl-6 col-lg-6">
		        			<div class="fields">
		        				{% for d in v_type %}
		        				<input type="hidden" id="vtypename{{d.id}}" value="{{d.type_name}}">
		        				{% endfor %}
		        				<label class="label"><span>Vehicle Type<font style="color: red;">*</font></span></label>
		        				<input type="hidden" name="vehicle_type" id="vtype">
		        				<select id="vehicle_type" name="vehicle_type_id" class="form-control inputs">
		        					<option value="" disabled selected>Choose vehicle type</option>
		        					{% for d in v_type %}
		        					<option value="{{d.id}}">{{d.type_name}}</option>
		        					{% endfor %}
		        				</select>
		        			</div>
		        		</div>
		        		<input type="hidden" name="vehicle" id="vehicle_confirm">
		        		<input type="hidden" name="num_type" id="num_type">
		        		<div class="col col-xl-6 col-lg-6">
		        			<div class="fields">
		        				<label class="label"><span>Vehicle/Chasis/Engine Number<font style="color: red;">*</font></span></label>
		        				{% for vehi, range in vehis %}
		        				<div class="fields vehicles inputs" id="vehitypenumid{{vehi.0.vehicle_type_id}}">
		        					<select id="vehi_number{{vehi.0.vehicle_type_id}}" class="form-control inputs vchoice">
		        						<option value="" disabled selected>Choose vehicle number</option>
		        						{% for d in vehi %}
		        						<option value="{{d.vehicle_number}}">{{d.vehicle_number}}</option>
		        						{% endfor %}
		        					</select>
		        				</div>
		        				<div class="fields vehicles inputs" id="vehitypechasisid{{vehi.0.vehicle_type_id}}">
		        					<select id="vehi_chasis{{vehi.0.vehicle_type_id}}" class="form-control inputs vchoice">
		        						<option value="" disabled selected>Choose chasis number</option>
		        						{% for d in vehi %}
		        						<option value="{{d.chasis_number}}">{{d.chasis_number}}</option>
		        						{% endfor %}
		        					</select>
		        				</div>
		        				<div class="fields vehicles inputs" id="vehitypeengineid{{vehi.0.vehicle_type_id}}">
		        					<select id="vehi_engine{{vehi.0.vehicle_type_id}}" class="form-control inputs vchoice">
		        						<option value="" disabled selected>Choose engine number</option>
		        						{% for d in vehi %}
		        						<option value="{{d.engine_number}}">{{d.engine_number}}</option>
		        						{% endfor %}
		        					</select>
		        				</div>
		        				{% endfor  %}
		        			</div>
		        			<div class="fields fcheck">
		        				<span id="ch_check"><input type="checkbox" id="chasis_check">Chasis Number</span>
		        				<span id="en_check"><input type="checkbox" id="engine_check">Engine Number</span>
		        			</div>
		        			<div class="fields vehidet">
		        				<table class="table table-bordered table-hover">
		        					<tbody>
		        						<tr>
		        							<td>Vehicle Number</td>
		        							<td id="vehidetnum"></td>
		        						</tr>
		        						<tr>
		        							<td>Chasis Number</td>
		        							<td id="vehidetchasis"></td>
		        						</tr>
		        						<tr>
		        							<td>Engine Number</td>
		        							<td id="vehidetengine"></td>
		        						</tr>
		        					</tbody>
		        				</table>
		        			</div>
		        		</div>
		        	</div>
		        </div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Narration</span></label>
						<textarea class="form-control" name="narrat" id="narrat" rows="8"></textarea>
					</div>
				</div>

				<div class="hidden_inputs"></div>

				<div class="col col-12">
					<div class="goods">
		              <span class="maintainhead">
		                Add Items:
		                <button type="button" id="additem" class="mainbtn">+ ADD ITEMS</button>
		              </span>
		              <table class="table table-bordered table-hover" id="ItemTable">
		                <thead>
		                  <tr>
		                    <th scope="col">Action</th>
		                    <th scope="col">Items</th>
		                    <th scope="col">UOM</th>
		                    <th scope="col">Quantity</th>
		                    <th scope="col">Description</th>
		                  </tr>
		                </thead>
		                <tbody>
		                  
		                </tbody>
		                <tfoot class="tfoot2">
		                  <tr class="boldrow">
		                    <td colspan="5" style="text-align: center;">No items</td>
		                    
		                  </tr>
		                </tfoot>
		              </table>
		            </div>
				</div>

				<div class="col col-xl-12 col-lg-12">
					{% if messages %}
						{% for message in messages %}
						<input type="hidden" class="msgon" value="{{message}}">
						{% endfor %}
					{% endif %}
					<div class="fields">
						<button type="submit" class="submit_btn">SUBMIT</button><i class="fa fa-spinner fa-spin mx-2 spinner" id="spinner1"></i>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col col-xl-2 col-lg-2 d-md-1 d-none d-lg-inline">
	<span style="opacity: 0;">.</span>
</div>

<!---item pop over-------------------->

<div class="edit_popupbanner">
	<div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
	<div class="col col-xl-6 col-lg-6 col-md-10">
		<div class="predefine1" id="edit_popup">
			<div class="edithead">
				Add items <i class="fa fa-times" id="close_edit"></i>
			</div>
			<div class="prebody editbody">
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Stock Category<font style="color: red;">*</font></span></label>
						<select class="selectpicker form-control inputs" name="category" id="category" data-live-search="true">
							<option value="" disabled selected>Choose category</option>
							{% for c in stock_cat %}
							<option value="{{c.name}}">{{c.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					{% for ps, range in psupa %}
					<div class="fields subcatshow" id="subcatshow{{ps.0.cat_url}}">
						<label class="label"><span>Stock Sub Category<font style="color: red;">*</font></span></label>
						<select class="selectpicker form-control inputs subcategory" id="subcategory{{ps.0.cat_url}}" data-live-search="true">
							<option value="" disabled selected>Choose category</option>
							{% for c in ps %}
							<option value="{{c.name}}">{{c.name}}</option>
							{% endfor %}
						</select>
					</div>
					{% endfor %}
					<input type="hidden" name="subcategory" id="subcatval">
				</div>
				<div class="col col-xl-6 col-lg-6">
					{% for i in item_dash %}
					<input type="hidden" id="ini{{i.id}}" data="{{i.uom}}" value="{{i.item}}" name="{{i.alias}}">
					{% endfor %}
					{% for isel, range in itemsel %}
					<div class="fields itemshow" id="itemshow{{isel.0.main_url}}">
						<label class="label"><span>Item<font style="color: red;">*</font></span></label>
						<select class="selectpicker form-control inputs item" id="item{{isel.0.main_url}}" data-live-search="true">
							<option value="" disabled selected>Choose item</option>
							{% for c in isel %}
							<option value="{{c.id}}">{{c.item}} ({{c.alias}})</option>
							{% endfor %}
						</select>
					</div>
					{% endfor %}
					<input type="hidden" name="item" id="itemm" readonly>
					<input type="hidden" name="itemname" id="itemname" readonly>
					<input type="hidden" name="itemalias" id="itemalias" readonly>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>UOM<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="uom" id="uom" readonly>
						<!-- <select class="form-control inputs" name="uom" id="uom">
							<option value="" disabled selected>Choose UOM</option>
							{% for c in uom_dash %}
							<option value="{{c.uom}}">{{c.uom}}</option>
							{% endfor %}
						</select> -->
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Quantity<font style="color: red;">*</font></span></label>
						<input type="number" class="form-control inputs" name="qty" id="qty" step=".01">
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Description<font style="color: red;">*</font></span></label>
						<textarea class="form-control" name="desc" id="desc" rows="5"></textarea>
					</div>
				</div>
				<div class="col col-xl-12 col-lg-12">
					<div class="fields">
						<button type="submit" class="submit_btn" id="additembtn">ADD</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
</div>

<div class="edit_popupbanner1">
	<div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
	<div class="col col-xl-6 col-lg-6 col-md-10">
		<div class="predefine1" id="edit_popup1">
			<div class="edithead">
				Edit items <i class="fa fa-times" id="close_edit1"></i>
			</div>
			<div class="prebody editbody">
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Stock Category<font style="color: red;">*</font></span></label>
						<select class="selectpicker form-control inputs" name="category" id="editcategory" data-live-search="true">
							<option value="" disabled selected>Choose category</option>
							{% for c in stock_cat %}
							<option value="{{c.name}}">{{c.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					{% for ps, range in psupa %}
					<div class="fields editsubcatshow" id="editsubcatshow{{ps.0.cat_url}}">
						<label class="label"><span>Stock Sub Category<font style="color: red;">*</font></span></label>
						<select class="selectpicker form-control inputs editsubcategory" id="editsubcategory{{ps.0.cat_url}}" data-live-search="true">
							<option value="" disabled selected>Choose category</option>
							{% for c in ps %}
							<option value="{{c.name}}">{{c.name}}</option>
							{% endfor %}
						</select>
					</div>
					{% endfor %}
					<input type="hidden" name="subcategory" id="editsubcatval">
				</div>
				<div class="col col-xl-6 col-lg-6">
					{% for i in item_dash %}
					<input type="hidden" id="eini{{i.id}}" data="{{i.uom}}" value="{{i.item}}" name="{{i.alias}}">
					{% endfor %}
					<input type="hidden" id="dfaultid" readonly>
					{% for isel, range in itemsel %}
					<div class="fields edititemshow" id="edititemshow{{isel.0.main_url}}">
						<label class="label"><span>Item<font style="color: red;">*</font></span></label>
						<select class="selectpicker form-control inputs edititemm" id="edititem{{isel.0.main_url}}" data-live-search="true" disabled>
							<option value="" disabled selected>Choose item</option>
							{% for c in isel %}
							<option value="{{c.id}}">{{c.item}} ({{c.alias}})</option>
							{% endfor %}
						</select>
					</div>
					{% endfor %}
					<input type="hidden" name="edititem" id="edititem" readonly>
					<input type="hidden" name="edititemname" id="edititemname" readonly>
					<input type="hidden" name="edititemalias" id="edititemalias" readonly>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>UOM<font style="color: red;">*</font></span></label>
						<input type="text" class="form-control inputs" name="edituom" id="edituom" readonly>
						<!-- <select class="form-control inputs" name="uom" id="uom">
							<option value="" disabled selected>Choose UOM</option>
							{% for c in uom_dash %}
							<option value="{{c.uom}}">{{c.uom}}</option>
							{% endfor %}
						</select> -->
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Quantity<font style="color: red;">*</font></span></label>
						<input type="number" class="form-control inputs" name="editqty" id="editqty" step=".01">
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6">
					<div class="fields">
						<label class="label"><span>Description<font style="color: red;">*</font></span></label>
						<textarea class="form-control" name="editdesc" id="editdesc" rows="5"></textarea>
					</div>
				</div>
				<div class="col col-xl-12 col-lg-12">
					<div class="fields">
						<button type="submit" class="submit_btn" id="additemeditbtn">UPDATE</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
		<span style="opacity: 0;">.</span>
	</div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/purchase_order.js' %}?v=1.15"></script>
{% endblock %}