{% load humanize %}
<html>
<head>
  <title>Report</title>
  <style>
    *{
      color:#000;
      padding:5px 10px;
      margin:0px;
    }
    body{
      padding: 0px;
      margin: 0px;
      counter-reset: Serial;
    }
    @page {
      size: letter landscape;
      margin: 2cm;
    }
    .report_banner{
      float: left;
      width: 100%;
      height: inherit;
      background: #fff;
      box-shadow: 0px 0px 8px 0px #ddd;
      padding: 20px 15px;
    }
    .report_subbanner1{
      float: left;
      width: 100%;
      height: inherit;
    }
    .report_head1{
      float:left;
      width: 100%;
      font-size: 17px;
      color: #000;
      text-align:center;
    }
    .report_head2{
      float:left;
      width: 100%;
      font-size: 14px;
      color: #000;
      text-align:center;
      text-transform: uppercase;
    }

    .report_subbanner2{
      float: left;
      width: 100%;
      height: inherit;
      margin-top: 20px;
    }
    .report_summary{
      float: left;
      width: 100%;
      height: inherit;
      margin-top: 20px;
    }
    .report_subbanner2 table{
      border: 1px solid #ddd;
      font-size: 12px;
      text-align: center;
    }
    .report_summary table{
      border: 1px solid #ddd;
      font-size: 12px;
      text-align: center;
    }
    .report_subbanner2 table th{
      color: rgba(0,0,0,.8);
    }
    .report_summary table th{
      color: rgba(0,0,0,.8);
    }
    .report_summary table tbody tr td:first-child:before{
      counter-increment: Serial;
      content: counter(Serial);
    }

    .no_report{
      float:left;
      width:100%;
      font-size: 14px;
      color: #008ECC;
      padding: 30px 0px;
      text-align:center;
    }
    .boldrow{
      font-weight: bold;
    } 
  </style>
</head>
<body>

  <div class="report_container">
    <div class="col-12">
      <div class="report_banner">

        <div class="report_subbanner1">
          <iframe class="report_head1" style="color: #000; font-size: 19px;">
            Ashish Nirman Sewa
          </iframe><br>
          <iframe class="report_head1" style="font-size: 13px; color: rgba(0,0,0,.8);">
            Kathmandu
          </iframe>
          <div class="report_head1">
            {{report_head}}
          </div>
          <div class="report_head2">
            {% if report_val != 'fuel_purchase' and report_val != 'vehicle_fuel' and report_val != 'maintain_log' and report_val != 'vehicle_maintain' and report_val != 'vendor_maintain' %}
            {% if item_val %}
            Item: {{item_val}}<br>
            {% endif %}
            {% if site_val %}
            Site: {{site_val}}<br>
            {% endif %}
            {% endif %}

            {% if report_val == 'fuel_purchase' %}
            {% if site_val %}
            Reserviour: {{site_val}}<br>
            {% endif %}
            {% if item_val %}
            Fuel Type: {{item_val}}<br>
            {% endif %}
            {% endif %}

            {% if report_val == 'vehicle_fuel' %}
            {% if site_val %}
            Reserviour: {{site_val}}<br>
            {% endif %}
            {% if item_val %}
            Fuel Type: {{item_val}}<br>
            {% endif %}
            {% if vehicle_type_val %}
            Vehicle Type: {{vehicle_type_val}}<br>
            {% endif %}
            {% if vehicle_val %}
            Vehicle Number: {{vehicle_val}} ({{num_type}})<br>
            {% endif %}
            {% endif %}

            {% if report_val == 'maintain_log' %}
            {% if site_val %}
            Site: {{site_val}}<br>
            {% endif %}
            {% endif %}

            {% if report_val == 'vehicle_maintain' %}
            {% if site_val %}
            Site: {{site_val}}<br>
            {% endif %}
            {% if vehicle_type_val %}
            Vehicle Type: {{vehicle_type_val}}<br>
            {% endif %}
            {% if vehicle_val %}
            Vehicle Number: {{vehicle_val}} ({{num_type}})<br>
            {% endif %}
            {% endif %}

            {% if report_val == 'vendor_maintain' %}
            {% if item_val %}
            Vendor/Supplier: {{item_val}}<br>
            {% endif %}
            {% endif %}

            {% if credit %}
            Total Credit: Rs {{credit.total__sum|floatformat:2|intcomma}}<br>
            {% endif %}
            {% if cash %}
            Total Cash: Rs {{cash.total__sum|floatformat:2|intcomma}}
            {% endif %}

            {% if fromdate %}
            {% if todate %} 
            Date: {{fromdate}} <font style="text-transform: none;">to</font> {{todate}}<br>
            {% else %}
            Date: {{fromdate}}<br>
            {% endif %}
            {% else %}
            {% endif %}

            {% if report_val == 'vehicle_move' %}
              {% if vehicle_type_val %}
              <br>
              Vehicle Type: {{vehicle_type_val}}<br>
              {% endif %}
              {% if vehicle_val %}
              Vehicle Number: {{vehicle_val}} ({{num_type}})<br>
              {% endif %}
            {% endif %}

            {% if report_val == 'vehicle_move' %}
            {% if fsite %}
            From Site: {{fsite}}
            {% endif %}
            {% if fsite %}
            Arrival Site: {{tsite}}
            {% endif %}
            {% endif %}

            {% if total_opening %}
            Total Opening: {{total_opening.opening__sum|floatformat:2|intcomma}} {{report.0.uom}}<br>
            {% endif %}
            {% if total_qty %}
            Total Quantity: {{total_qty.quantity__sum|floatformat:2|intcomma}} {{report.0.uom}}<br>
            {% endif %}
            {% if report_val != 'fuel_purchase' %}
            {% if total_amt %}
            Total Amount: Rs {{total_amt.total__sum|floatformat:2|intcomma}}<br>
            {% endif %}
            {% endif %}
            
            {% if report_val == 'fuel_purchase' %}
            {% if total_amt %}
            Total Amount: Rs {{total_amt.amount__sum|floatformat:2|intcomma}}<br>
            {% endif %}
            {% endif %}

          </div>

        </div>
        {% if report_val == 'stock_report' %}
        {% if report %}
        <div class="report_subbanner2">
          <table>
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Alias</th>
                <th scope="col">Stock Category</th>
                <th scope="col">Site</th>
                <th scope="col">Stock Type</th>
                <th scope="col">Opening</th>
                <th scope="col">Stock Quantity</th>
                <th scope="col">UOM</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              {% for s in report %}
              <tr>
                <td>{{s.item}}</td>
                <td>{{s.alias}}</td>
                <td>{{s.stock_category}}</td>
                <td>{{s.stock_site}}</td>
                <td>{{s.stock_type}}</td>
                <td>{{s.opening}}</td>
                <td>{{s.quantity}}</td>
                <td>{{s.uom}}</td>
                <td>{{s.rate}}</td>
                <td>{{s.amount|intcomma}}</td>
                <td>{{s.entry_by}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'grn_report' %}
        {% if report %}
        <div class="report_subbanner2">
          {% for grrnn, goo in report %}
          <table>
            <thead>
              <tr>
                <th scope="col">Entry Date</th>
                <th scope="col">GRN Number</th>
                <th scope="col">Purchase Order Number</th>
                <th scope="col">Challan Number</th>
                <th scope="col">Bill Number</th>
                <th scope="col">Site</th>
                <th scope="col">Narration</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{grrnn.entry_date}}</td>
                <td>{{grrnn.grn_number}}</td>
                <td>{{grrnn.purchase_order_number}}</td>
                <td>{{grrnn.challan_number}}</td>
                <td>{{grrnn.bill_number}}</td>
                <td>{{grrnn.user_site}}</td>
                <td>
                  {% if grrnn.narration %}
                  {{grrnn.narration|linebreaks}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>{{grrnn.entry_by}}</td>
              </tr>
              <tr>
                <th scope="col">Associate Invoice</th>
                <th scope="col">Item Name</th>
                <th scope="col">UOM</th>
                <th scope="col">Quantity</th>
              </tr>
              {% for s in goo %}
              <tr>
                <td>{{s.pvn}}</td>
                <td>{{s.item}}</td>
                <td>{{s.uom}}</td>
                <td>{{s.quantity}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'invoice_report' %}
        {% if report %}
        <div class="report_subbanner2">
          {% for grrnn, goo in report %}
          <table>
            <thead>
              <tr>
                <th scope="col">Entry Date</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Purchase<br> Voucher<br> Number</th>
                <th scope="col">Purchase<br> Order<br> Number</th>
                <th scope="col">Challan<br> Number</th>
                <th scope="col">Invoice<br> Number</th>
                <th scope="col">Invoice Type</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Sub Total</th>
                <th scope="col">Discount</th>
                <th scope="col">VAT</th>
                <th scope="col">Total</th>
                <th scope="col">Narration</th>
                <th scope="col">Site</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{grrnn.entry_date}}</td>
                <td>{{grrnn.invoice_date}}</td>
                <td>{{grrnn.voucher_number}}</td>
                <td>{{grrnn.purchase_order_number}}</td>
                <td>{{grrnn.challan_number}}</td>
                <td>{{grrnn.invoice_number}}</td>
                <td>{{grrnn.invoice_type}}</td>
                <td>{{grrnn.supplier_name}}</td>
                <td>{{grrnn.transaction_type}}</td>
                <td>{{grrnn.sub_total}}</td>
                <td>{{grrnn.discount_amt|intcomma}} <br>({{grrnn.discount_per}} %)</td>
                <td>{{grrnn.vat}}</td>
                <td>{{grrnn.total}}</td>
                <td>
                  {% if grrnn.narration %}
                  {{grrnn.narration|linebreaks}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>{{grrnn.user_site}}</td>
                <td>{{grrnn.entry_by}}</td>
              </tr>
              <tr>
                <th scope="col">Associate PO</th>
                <th scope="col">Associate Invoice</th>
                <th scope="col">Item Name</th>
                <th scope="col">UOM</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
              </tr>
              {% for s in goo %}
              <tr>
                <td>{{s.po}}</td>
                <td>{{s.pvn}}</td>
                <td>{{s.item}}</td>
                <td>{{s.uom}}</td>
                <td>{{s.quantity}}</td>
                <td>{{s.rate}}</td>
                <td>{{s.amount}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'material_report' %}
        {% if report %}
        <div class="report_subbanner2">
          {% for grrnn, goo in report %}
          <table>
            <thead>
              <tr>
                <th scope="col">Issue Date</th>
                <th scope="col">Material<br> Issue<br> Number</th>
                <th scope="col">Issuing Site</th>
                <th scope="col">Purchase<br> Order<br> Number</th>
                <th scope="col">Issue For</th>
                <th scope="col">Narration</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{grrnn.issue_date}}</td>
                <td>{{grrnn.mie_number}}</td>
                <td>{{grrnn.issuing_location}}</td>
                <td>{{grrnn.purchase_order_number}}</td>
                <td>
                  {% if grrnn.issue_for %}
                  {{grrnn.issue_for}}</td>
                  {% else %}
                  none
                  {% endif %}
                <td>
                  {% if grrnn.narration %}
                  {{grrnn.narration|linebreaks}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>{{grrnn.entry_by}}</td>
              </tr>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">UOM</th>
                <th scope="col">Quantity</th>
              </tr>
              {% for s in goo %}
              <tr>
                <td>{{s.item}}</td>
                <td>{{s.uom}}</td>
                <td>{{s.quantity}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'internal_report' %}
        {% if report %}
        <div class="report_subbanner2">
          {% for grrnn, goo in report %}
          <table>
            <thead>
              <tr>
                <th scope="col">Issue Date</th>
                <th scope="col">Internal<br> Transfer<br> Number</th>
                <th scope="col">Issuing Site</th>
                <th scope="col">Receiving Site</th>
                <th scope="col">Narration</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{grrnn.issue_date}}</td>
                <td>{{grrnn.itn_number}}</td>
                <td>{{grrnn.issuing_location}}</td>
                <td>{{grrnn.receiving_location}}</td>
                <td>{{grrnn.narration|linebreaks}}</td>
                <td>{{grrnn.entry_by}}</td>
              </tr>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">UOM</th>
                <th scope="col">Quantity</th>
              </tr>
              {% for s in goo %}
              <tr>
                <td>{{s.item}}</td>
                <td>{{s.uom}}</td>
                <td>{{s.quantity}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'transfer_grn' %}
        {% if report %}
        <div class="report_subbanner2">
          {% for grrnn, goo in report %}
          <table>
            <thead>
              <tr>
                <th scope="col">Entry Date</th>
                <th scope="col">Transfer<br> GRN<br> Number</th>
                <th scope="col">Site</th>
                <th scope="col">Narration</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{grrnn.entry_date}}</td>
                <td>{{grrnn.grn_number}}</td>
                <td>{{grrnn.user_site}}</td>
                <td>
                  {% if grrnn.narration %}
                  {{grrnn.narration|linebreaks}}</td>
                  {% else %}
                  none
                  {% endif %}
                <td>{{grrnn.entry_by}}</td>
              </tr>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">UOM</th>
                <th scope="col">Quantity</th>
              </tr>
              {% for s in goo %}
              <tr>
                <td>{{s.item}}</td>
                <td>{{s.uom}}</td>
                <td>{{s.quantity}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'fuel_purchase' %}
        {% if report %}
        <div class="report_subbanner2">
          <table>
            <thead>
              <tr>
                <th scope="col">Entry Date</th>
                <th scope="col">Purchase <br>Bill<br> Number</th>
                <th scope="col">Purchase<br> Order<br> Number</th>
                <th scope="col">Purchase<br> Order<br> Date</th>
                <th scope="col">Invoice No.</th>
                <th scope="col">Reserviour</th>
                <th scope="col">Fuel Type</th>
                <th scope="col">Purchase<br> Location</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">VAT</th>
                <th scope="col">Amount</th>
                <th scope="col">Issuing Site</th>
                <th scope="col">Entry By</th>
                <th scope="col">Approved By</th>
              </tr>
            </thead>
            <tbody>
              {% for s in report %}
              <tr>
                <td>{{s.entry_date}}</td>
                <td>{{s.purchase_bill_number}}</td>
                <td>{{s.purchase_order_number}}</td>
                <td>{{s.po_entry_date}}</td>
                <td>{{s.invoice_number}}</td>
                <td>{{s.reserviour}}</td>
                <td>{{s.fuel_type}}</td>
                <td>{{s.purchase_location}}</td>
                <td>{{s.quantity|floatformat:2|intcomma}}</td>
                <td>{{s.rate|floatformat:2|intcomma}}</td>
                <td>{{s.vat|floatformat:2|intcomma}}</td>
                <td>{{s.amount|floatformat:2|intcomma}}</td>
                <td>{{s.issuing_site}}</td>
                <td>{{s.entry_by}}</td>
                <td>{{s.po_approved_by}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'vehicle_fuel' %}
        {% if report %}
        <div class="report_subbanner2">
          <table>
            <thead>
              <tr>
                <th scope="col">Entry Date</th>
                <th scope="col">Consumption<br> Number</th>
                <th scope="col">Coupon<br> Number</th>
                <th scope="col">Reserviour</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Vehicle Number</th>
                <th scope="col">KM Run</th>
                <th scope="col">Fuel Type</th>
                <th scope="col">Fuel (ltrs)</th>
                <th scope="col">Site</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              {% for s in report %}
              <tr>
                <td>{{s.date}}</td>
                <td>{{s.consump_number}}</td>
                <td>{{s.coupon_number}}</td>
                <td>{{s.reserviour}}</td>
                <td>{{s.vehicle_type}}</td>
                <td>{{s.vehicle_number}} ({{number_type}})</td>
                <td>{{s.kilometer}}</td>
                <td>{{s.fuel_type}}</td>
                <td>{{s.quantity|floatformat:2|intcomma}}</td>
                <td>{{e.user_site}}</td>
                <td>{{e.entry_by}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'maintain_log' %}
        {% if report %}
        <div class="report_subbanner2">
          <table>
            <thead>
              <tr>
                <th scope="col">Entry Date</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Maintainance<br> Number</th>
                <th scope="col">Purchase<br> Order<br> Number</th>
                <th scope="col">Purchase<br> Order<br> Date</th>
                <th scope="col">Invoice<br> Number</th>
                <th scope="col">Vehicle<br> Type</th>
                <th scope="col">Vehicle<br> Number</th>
                <th scope="col">KM Run</th>
                <th scope="col">Problem<br> Category</th>
                <th scope="col">Problem<br> Sub<br> Category</th>
                <th scope="col">Sub Total</th>
                <th scope="col">Labour Charge</th>
                <th scope="col">Total</th>
                <th scope="col">Site</th>
                <th scope="col">PO<br> Approved By</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              {% for s in report %}
              <tr>
                <td>{{s.entry_date}}</td>
                <td>{{s.bill_date}}</td>
                <td>{{s.maintain_number}}</td>
                <td>
                  {% if s.purchase_order_number %}
                  {{s.purchase_order_number}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>
                  {% if s.purchase_entry_date %}
                  {{s.purchase_entry_date}}
                  {% else %}
                  none
                  {% endif %} 
                </td>
                <td>{{s.bill_number}}</td>
                <td>{{s.vehicle_type}}</td>
                <td>{{s.vehicle_number}} ({{s.number_type}})</td>
                <td>{{s.kilometer}}</td>
                <td>
                  {% if s.problem_category %}
                  {{s.problem_category}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>
                  {% if s.problem_subcategory %}
                  {{s.problem_subcategory}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>{{s.sub_total|floatformat:2|intcomma}}</td>
                <td>{{s.labour_charge|floatformat:2|intcomma}}</td>
                <td>{{s.total|floatformat:2|intcomma}}</td>
                <td>{{s.user_site}}</td>
                <td>
                  {% if s.purchase_approve_by %}
                  {{s.purchase_approve_by}}
                  {% else %}
                  none
                  {% endif %} 
                </td>
                <td>{{s.entry_by}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'vehicle_maintain' %}
        {% if report %}
        <div class="report_subbanner2">
          <table>
            <thead>
              <tr>
                <th scope="col">Entry Date</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Maintainance<br> Number</th>
                <th scope="col">Purchase<br> Order<br> Number</th>
                <th scope="col">Purchase<br> Order<br> Date</th>
                <th scope="col">Invoice<br> Number</th>
                <th scope="col">Vehicle<br> Type</th>
                <th scope="col">Vehicle<br> Number</th>
                <th scope="col">KM Run</th>
                <th scope="col">Problem<br> Category</th>
                <th scope="col">Problem<br> Sub<br> Category</th>
                <th scope="col">Sub Total</th>
                <th scope="col">Labour Charge</th>
                <th scope="col">Total</th>
                <th scope="col">Site</th>
                <th scope="col">PO<br> Approved By</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              {% for s in report %}
              <tr>
                <td>{{s.entry_date}}</td>
                <td>{{s.bill_date}}</td>
                <td>{{s.maintain_number}}</td>
                <td>
                  {% if s.purchase_order_number %}
                  {{s.purchase_order_number}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>
                  {% if s.purchase_entry_date %}
                  {{s.purchase_entry_date}}
                  {% else %}
                  none
                  {% endif %} 
                </td>
                <td>{{s.bill_number}}</td>
                <td>{{s.vehicle_type}}</td>
                <td>{{s.vehicle_number}} ({{s.number_type}})</td>
                <td>{{s.kilometer}}</td>
                <td>
                  {% if s.problem_category %}
                  {{s.problem_category}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>
                  {% if s.problem_subcategory %}
                  {{s.problem_subcategory}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>{{s.sub_total|floatformat:2|intcomma}}</td>
                <td>{{s.labour_charge|floatformat:2|intcomma}}</td>
                <td>{{s.total|floatformat:2|intcomma}}</td>
                <td>{{s.user_site}}</td>
                <td>
                  {% if s.purchase_approve_by %}
                  {{s.purchase_approve_by}}
                  {% else %}
                  none
                  {% endif %} 
                </td>
                <td>{{s.entry_by}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

        {% if report_val == 'vendor_maintain' %}
        {% if report %}
        <div class="report_subbanner2">
          <table>
            <thead>
              <tr>
                <th scope="col">Entry Date</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Purchase<br> Voucher<br> Number</th>
                <th scope="col">Purchase<br> Order<br> Number</th>
                <th scope="col">Invoice Number</th>
                <th scope="col">Invoice Type</th>
                <th scope="col">Transaction<br> Type</th>
                <th scope="col">Sub Total</th>
                <th scope="col">Discount</th>
                <th scope="col">VAT</th>
                <th scope="col">Total</th>
                <th scope="col">Site</th>
                <th scope="col">Entry By</th>
              </tr>
            </thead>
            <tbody>
              {% for s in report %}
              <tr>
                <td>{{s.entry_date}}</td>
                <td>{{s.invoice_date}}</td>
                <td>{{s.voucher_number}}</td>
                <td>
                  {% if s.purchase_order_number %}
                  {{s.purchase_order_number}}
                  {% else %}
                  none
                  {% endif %}
                </td>
                <td>{{s.invoice_number}}</td>
                <td>{{s.invoice_type}}</td>
                <td>{{s.transaction_type}}</td>
                <td>{{s.sub_total|floatformat:2|intcomma}}</td>
                <td>{{s.discount_amt|floatformat:2|intcomma}} ({{s.discount_per}}%)</td>
                <td>{{s.vat|floatformat:2|intcomma}}</td>
                <td>{{s.total|floatformat:2|intcomma}}</td>
                <td>{{s.user_site}}</td>
                <td>{{s.entry_by}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <span class="no_report">
          No report found for your request
        </span>
        {% endif %}
        {% endif %}

      {% if report_val == 'vehicle_move' %}
      {% if report %}
      <div class="report_subbanner2">
        <table>
          <thead>
            <tr>
            <th scope="col">Entry Date</th>
            <th scope="col">Move Number</th>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Vehicle Number</th>
            <th scope="col">From Site</th>
            <th scope="col">Arrival Site</th>
            <th scope="col">Status</th>
            <th scope="col">Arrival</th>
            </tr>
          </thead>
          <tbody>
            {% for r in report %}
            <tr>
              <td>{{r.entry_date}}</td>
              <td>{{r.move_number}}</td>
              <td>{{r.vehicle_type}}</td>
              <td>{{r.vehicle_number}}<br>({{r.num_type}})</td>
              <td>{{r.from_site}}</td>
              <td>{{r.to_site}}</td>
              <td>{{r.status}}</td>
              <td>{{r.arrival_datetime}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <span class="no_content">
        No report found
      </span>
      {% endif %}
      {% endif %}

      </div>
    </div>
  </div>
  <body>
    </html>