{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/predefine.css' %}?v=1.3">
{% endblock %}

{% block content %}
<div class="col col-xl-6 col-lg-6 col-md-6">
  <div class="predefine1">
    <div class="head">
      <span class="head1">Add Problem Sub Category</span>
      <span class="head2">Enter new category details</span>
    </div>
    <div class="prebody" id="formbody">
      <form method="POST" action="/add-subproblem/" id="ProblemForm" autocomplete="off" name="ProblemForm">
        {% csrf_token %}
        {% for p in problem_dash %}
        <input type="hidden" id="prob{{p.problem_url}}" value="{{p.name}}">
        {% endfor %}
        <input type="hidden" name="problem_name" id="problem_name">
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>Problem Name<font style="color: red;">*</font></span></label>
            <select id="problemval" name="problemval" class="form-control inputs">
              <option value="" disabled selected>Choose problem category</option>
              {% for p in problem_dash %}
              <option value="{{p.problem_url}}">{{p.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
          <div class="fields">
            <label class="label"><span>Problem Sub Category Name<font style="color: red;">*</font></span></label>
            <input type="text" class="form-control inputs" name="subproblem" id="subproblem">
            <input type="hidden" name="url" id="url">
          </div>
        </div>
        <div class="col col-xl-12 col-lg-12">
          {% if messages %}
            {% for message in messages %}
            <input type="hidden" class="msgon" value="{{message}}">
            {% endfor %}
          {% endif %}
          <div class="fields">
            <button type="submit" class="submit_btn">SUBMIT</button><i class="fa fa-spinner fa-spin mx-2 spinner" id="spinner1"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col col-xl-6 col-lg-6 col-md-6">
  <div class="predefine1">
    <div class="head">
      <span class="head1">Problem Categories</span>
      <span class="head2">Manage problem details</span>
    </div>
    <div class="prebody" id="displaybody">
      {% for subcategory, range in all_cats %}
      {% for l in subcategory %}
      <input type="hidden" id="name{{l.id}}" value="{{l.name}}">
      <input type="hidden" id="url{{l.id}}" value="{{l.problem_suburl}}">
      <input type="hidden" id="prob_name{{l.id}}" value="{{l.problem_name}}">
      <input type="hidden" id="prob_url{{l.id}}" value="{{l.problem_url}}">
      {% endfor %}
      {% endfor %}
      {% if length != 0 %}
      {% for subcategory, range in all_cats %}
      <div class="block">
        <span class="subblock1"><i class="fas fa-circle"></i> {{subcategory.0.problem_name}}</span>
        {% for l in subcategory %}
        <div class="block subpblock">
          <span class="subblock1"><i class="fas fa-circle" id="subpicon"></i> {{l.name}}</span>
          <span class="subblock2">
            <button type="button" class="sup_edit" data="{{l.id}}"><i class="far fa-edit"></i></button>
            <button type="button" class="sup_delete" data="{{l.id}}"><i class="far fa-trash-alt"></i></button>
          </span>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% else %}
      <span class="no_content">
        No categories found
      </span>
      {% endif %}
    </div>
  </div>
</div>

<!-- pop up for edition ------>

<div class="edit_popupbanner">
  <div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
    <span style="opacity: 0;">.</span>
  </div>
  <div class="col col-xl-6 col-lg-6 col-md-10">
    <div class="predefine1" id="edit_popup">
      <div class="edithead">
        Edit Category <i class="fa fa-times" id="close_edit"></i>
      </div>
      <div class="prebody editbody" id="formbody">
        <form method="POST" action="/update-subproblem/" id="ProblemEditForm" autocomplete="off" name="ProblemEditForm">
          {% csrf_token %}
          <input type="hidden" id="luid" name="lid">
          <div class="col col-xl-6 col-lg-6">
            <div class="fields">
              <label class="label"><span>Problem Name<font style="color: red;">*</font></span></label>
              <input type="text" class="form-control inputs" id="pname" readonly>
              <input type="hidden" name="purl" id="purl">
            </div>
          </div>
          <div class="col col-xl-6 col-lg-6">
            <div class="fields">
              <label class="label"><span>Problem Sub Category<font style="color: red;">*</font></span></label>
              <input type="text" class="form-control inputs" name="name" id="editname">
              <input type="hidden" name="url" id="editurl">
              <input type="hidden" name="default" id="default">
            </div>
          </div>
          <div class="col col-xl-12 col-lg-12">
            <div class="fields">
              <button type="submit" class="submit_btn">SAVE</button><i class="fa fa-spinner fa-spin mx-2 spinner" id="spinner2"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col col-xl-3 col-lg-3 col-md-1 d-none d-md-inline">
    <span style="opacity: 0;">.</span>
  </div>
</div>

<!-- po up deletion ------------------->

<div class="del_popupbanner">
  <div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
    <span style="opacity: 0;">.</span>
  </div>
  <div class="col col-xl-4 col-lg-4 col-md-6">

    <div class="predefine1" id="del_popup">
      Category will be deleted. Do you wish to continue?

      <form method="POST" action="/delete-subproblem/">
        {% csrf_token %}
        <input type="hidden" name="lid" id="lid">
        <button type="submit" class="del_btn">Yes</button>
        <button type="button" class="del_btn" id="cancel_btn">No</button>
      </form>
    </div>
  </div>
  <div class="col col-xl-4 col-lg-4 col-md-3 d-none d-md-inline">
    <span style="opacity: 0;">.</span>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/subproblem.js' %}?v=1.3"></script>
{% endblock %}